<header class="dash-toolbar">
  <a href="#!" class="menu-toggle">
    <i class="fas fa-bars"></i>
  </a>
  <a href="#!" class="searchbox-toggle">
    <i class="fas fa-search"></i>
  </a>
  <div class="tools">
    <a href="https://github.com/niross/ftrack.git" target="_blank" class="tools-item" title="View on Github">
      <i class="fab fa-github"></i>
    </a>
    <a href="{{ url_for('security.logout') }}" class="tools-item" title="Sign Out">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</header>