{% extends 'authenticated_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block scripts %}
  {{ super() }}
  <script src="/static/js/platform-auth.js"></script>
{% endblock scripts %}
{% block title %}Platform Authentication{% endblock title %}
{% block dash_content %}
  <div class="container-fluid">
    <h1 class="dash-title">Integrations</h1>
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="card spur-card">
          <div class="card-header">
            <div class="spur-card-icon">
              <i class="fas fa-key"></i>
            </div>
            <div class="spur-card-title">Access Keys</div>
          </div>
          <div class="card-body ">
            <form method="POST">
              {{ form.hidden_tag() }}
              {{ wtf.form_errors(form, hiddens='only') }}
              <fieldset class="form-group">
                <legend>Starling</legend>
                {{ wtf.form_field(form.starling_auth_code, hide_value=False) }}
                {{ wtf.form_field(form.starling_webhook_secret) }}
              </fieldset>
              <fieldset class="form-group">
                <legend>You Need a Budget</legend>
                {{ wtf.form_field(form.ynab_auth_code) }}
                {{ wtf.form_field(form.ynab_account_id) }}
              </fieldset>
              {{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock dash_content %}